<label for="change-password-form" class="form-label text-label">Change password</label>
<form id="change-password-form">
    {{ change_password_form.csrf_token }}
    <!-- Old password input box -->
    {{ change_password_form.old_password(class="form-control mb-2", placeholder="Old password") }}
    <!-- New password input box -->
    {{ change_password_form.new_password(class="form-control mb-2", placeholder="New password") }}
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary float-end">Update</button>
</form>